/* Header.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #333;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
}

.logo-link {
  color: #fff; /* 링크 텍스트 색상을 흰색으로 지정 */
  text-decoration: none; /* 기본 링크 스타일 제거 */
}

.logo-icon {
  font-size: 50px; /* 원하는 크기로 설정 */
  margin-right: 8px; /* 텍스트와의 간격 조절 */
}

.logo-text {
  font-size: 20px;
  position: relative;
  top: -10px;
}

.navigation ul {
  list-style-type: none;
  display: flex;
}

.navigation ul li {
  margin-right: 1rem;
}

.navigation ul li a {
  color: #fff;
  text-decoration: none;
}

.navigation ul li a:hover {
  text-decoration: underline;
}
