/* Description Container */
.description-container {
  background-color: #ffffff; /* 배경 색상 */
  border: 1px solid #e0e0e0; /* 경계 색상 */
  border-radius: 12px; /* 둥근 모서리 */
  padding: 20px; /* 내부 여백 */
  margin-bottom: 20px; /* 아래 여백 */
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  transition: box-shadow 0.3s ease-in-out; /* 호버 효과를 위한 전환 */
}

/* Description Container Hover Effect */
.description-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 효과 */
}

/* Sentence Container */
.sentence-container {
  background-color: #f9f9f9; /* 배경 색상 */
  border-radius: 12px; /* 둥근 모서리 */
  padding: 12px 20px; /* 내부 여백 */
  margin-bottom: 16px; /* 아래 여백 */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  font-size: 1rem; /* 글자 크기 */
  font-weight: 400; /* 글자 두께 */
  text-align: center; /* 텍스트 중앙 정렬 */
  border: 1px solid #e0e0e0; /* 경계 색상 */
  transition: background-color 0.3s ease; /* 배경 색상 전환 효과 */
}

/* Sentence Container Hover Effect */
.sentence-container:hover {
  background-color: #f1f1f1; /* 호버 시 배경 색상 */
  border-color: #d0d0d0; /* 호버 시 경계 색상 */
}
