/* src/pages/Learning/Learning.css */

.learning-container {
  padding: 20px;
  text-align: center; /* 제목과 비디오 제목들을 중앙 정렬 */
}

.learning-title {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #333; /* 제목 색상 */
}

.learning-list {
  display: flex;
  flex-direction: column; /* 세로로 나열 */
  align-items: center; /* 중앙 정렬 */
}

.learning-item {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  padding: 5px 0;
  margin : 0; 
  width: auto; 
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s; /* 클릭 효과 */
}

.learning-item:hover {
  background-color: #e0e0e0;
}

.learning-item:active {
  transform: scale(0.98); /* 클릭 시 박스 축소 효과 */
}
