.learning-container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.quiz-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 20px;
  text-align: center;
}

.quiz-button:hover {
  background-color: #0056b3;
}

.learning-table {
  width: 100%;
  border-collapse: collapse;
}

.learning-table th, .learning-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.learning-table th {
  background-color: #f8f8f8;
}

.learning-table a {
  color: black; /* 색상을 검정색으로 설정 */
  text-decoration: none; /* 밑줄 제거 */
}


.learning-table td a:hover {
  text-decoration: underline;
}

.learning-table button {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.learning-table button:hover {
  background-color: #0056b3;
}
